body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(./assets/fonts/Nunito-Regular.ttf);
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(./assets/fonts/Nunito-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(./assets/fonts/Nunito-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(./assets/fonts/Nunito-SemiBold.ttf);
  font-weight: 600;
}
